api-description.wadl

<?xml version="1.0" encoding="UTF-8"?>

<application xmlns="http://wadl.dev.java.net/2009/02">
    <grammars>
        <include href="http://www.w3.org/2001/XMLSchema.xsd" />
    </grammars>
    <resources base="http://localhost:3001">
        <resource path="/">
            <method name="GET">
                <response status="200">
                    <representation mediaType="aplication/xml"
                        element="yn:ResultSet" />
                </response>
                <response status="400">
                    <representation mediaType="application/xml"
                        element="ya:Error" />
                </response>
            </method>
        </resource>
        <resource path="/record">
            <method name="GET" id="get-record">
                <request>
                    <param name="id_nodo" style="query" type="xsd:string" required="true" />
                    <param name="temperatura" style="query" type="xsd:float" required="true" />
                    <param name="humedad" style="query" type="xsd:float" required="true" />
                    <param name="co2" style="query" type="xsd:int" required="true" />
                    <param name="volatiles" style="query" type="xsd:int" required="true" />
                </request>
                <response status="200">
                    <representation mediaType="text/plain"
                        element="yn:ResultGet" />
                </response>
                <response status="400">
                    <representation mediaType="application/xml"
                        element="ya:Error" />
                </response>
            </method>
            <method name="POST" id="post-record">
                <request>
                    <representation mediaType="application/json">
                        <param name="id_nodo" style="query" type="xsd:string" required="true" />
                        <param name="temperatura" style="query" type="xsd:float" required="true" />
                        <param name="humedad" style="query" type="xsd:float" required="true" />
                        <param name="co2" style="query" type="xsd:int" required="true" />
                        <param name="volatiles" style="query" type="xsd:int" required="true" />
                    </representation>
                </request>
                <response status="200">
                    <representation mediaType="text/plain"
                        element="yn:ResultPost" />
                </response>
                <response status="400">
                    <representation mediaType="application/xml"
                        element="ya:Error" />
                </response>
            </method>
        </resource>
    </resources>

</application>